<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signingStyle</key>
	<string>manual</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>teamID</key>
	<string>DZJDGXKN9N</string>
	<key>signingCertificate</key>
	<string>iOS Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.irvinghuang.CICDTest</key>
		<string>e139e672-df23-4d09-aed1-f9c7b7177017</string>
	</dict>
	<key>iCloudContainerEnvironment</key>
	<string>Development</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>compileBitcode</key>
	<true/>
</dict>
</plist>